.table {
  text-align: center;

  td {
    vertical-align: middle;
  }

  th {
    &:not(:last-child) {
      cursor: pointer;
      padding-right: 15px;
      position: relative;
      transition: .3s;

      &:hover {
        background-color: #ceced2;
      }

      span {
        padding-left: 2px;
        position: absolute;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

.status-item {
  transition: .3s;

  &.expired {
    background: #fff705;
  }

  &.failed {
    background: #ff8080;
  }

  &.finished {
    background: #fff;
  }

  &.new {
    background: #8dff80;
  }

  &.waiting {
    background: #96c6fc;
  }
}